
body {
  background: #0f172a;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #f97316;
}

/* Services Section */
.services {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.service {
  background: #0f172a;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #334155;
}

.service h3 {
  margin: 0;
  color: #38bdf8;
}

.service p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.6;
  color: antiquewhite;
}

/* Process Section */
.process {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.process img {
  max-width: 100%;
  border-radius: 10px;
}

/* Toolset Section */
.toolset {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  border: 1px solid #334155;
  text-align: left;
}

th {
  background: #0f172a;
  color: #38bdf8;
}

td {
  color: #f1f5f9;
}
