<section class="agile-devops">
  <div class="container">

    <div class="header">
      <h1>Agile Development & DevOps</h1>
        <p>
Software development has evolved from traditional, project-based approaches to rapid, continuous delivery. 
Agile and DevOps practices enhance collaboration, accelerate time-to-market, and ensure high-quality outcomes. 
Our team leverages modern, scalable frameworks to deliver robust solutions, consistently meeting client requirements 
and providing the most effective development strategies for your business.
</p>
    </div>

    <div class="sub-header">
<h2>Agile Development: Key Product Benefits</h2>
    </div>

    <div class="feature-img">
      <img src="../../../assets/dev-sec/agile.png" alt="Agile Development Feature Diagram" width="50%" height="50%">
    </div>

    <div class="sub-header">
<h2>End-to-End Development & Deployment</h2>
    </div>

    <div class="cycle-img">
      <img src="../../../assets/dev-sec/deplife.png" alt="Development and Deployment Cycle">
    </div>

  </div>
</section>
<app-nav-controls></app-nav-controls>

