<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.google.com/" target="_blank"><i class="fab fa-google"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>

  <div class="contact-info">
    <p><i class="fas fa-phone-alt"></i> +91 866 826 7967</p>
    <p><i class="fas fa-envelope"></i> <a href="mailto:sales@psatechall.com" target="_blank">sales@psatechall.com</a></p>
    <p>©2025 Copyright: <a href="https://www.psatechall.com" target="_blank">www.psatechall.com</a></p>
  </div>
</footer>

