
html, body {
  margin: 0;
  padding: 0;
}

/* You can add global styles to this file, and also import other style files */
.text-danger {
    background-color: red;
    border: 1px solid red;
} 

/* .category-section {
  margin: 40px auto;
  max-width: 1100px;
  padding: 20px;
  text-align: center;
} */

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.category-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
  gap: 20px;
  justify-items: center;
}

.category-item {
  background: #fff;
  padding: 15px;
  border-top: 4px solid var(--icon-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  display: inline;
}

.category-item:hover {
  transform: translateY(-4px);
}

.category-item i {
  font-size: 2.2rem;
  color: var(--icon-color);
  margin-bottom: 8px;
}

.category-item p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #444;
}
